{
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".tsx"]
      },
      "alias": {
        "map": [["~", "./app/frontend"]],
        "extensions": [".js", ".jsx", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
