.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  height: calc(100vh - 196px);
}

.greeting-image {
  height: 300px;
}

.greeting-text {
  margin-top: 24px;
}
